

<div class= 'banner'>
    <div class="container">
<h1>This is your wonderful Cocktail</h1>
<h2><%= @cocktail.name %></h2>
<%= cl_image_tag(@cocktail.photo.key, height: 300, width: 400, crop: :fill) %>
<br>
<ul class="list">
<% @doses.each do |dose| %>
 <li class="list-item"><p><%= Ingredient.find(dose.ingredient_id).name %> - <%= dose.description %></p>    <%= link_to "delete", dose_path(dose[:id]), method: :delete, data: { confirm: "Are you sure?"} %></li>
 <% end %>
</ul>
<br>

<div class="btn btn-ghost">
  <%= link_to "back", cocktails_path  %>
</div>
<div class="btn btn-ghost">
<%= link_to "add ingredient", new_cocktail_dose_path(@cocktail)  %>
  </div>
    </div>
  </div>




